.NavbarItems {
    background: royalblue;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 20px;
}

.menu-icon {
    color: white;
    font-size: large;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: white;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: start;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: ghostwhite;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

